:root {
	--primary-blue: #08689C;
	--secondary-blue: #06537c;
	--tertiary-blue: #3986af;
}

body {
	margin: 0 auto;
	padding: 0;
}

.secondary-blue {
	color: #08689C;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

#header {
	position: absolute;
	color: #FFF;
	margin: 0;
	padding: 0;
	max-width: 2560px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	z-index:0;
	background-image: url('assets/header.jpg');
	background-attachment: fixed;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.navbar {
	width: 100% !important;
	position: absolute !important;
	padding: 15px 0;
}

.navbar .navbar-header a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar .navbar-header a.navbar-brand img {
	height:100%;
}

.navbar .navbar-header button.navbar-toggle span.icon-bar {
	background-color: #FFF; 
}

.navbar ul {
  list-style:none;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  transition:.5s;
}

.navbar ul li {
	font-size: 1.15em;
	font-weight: 900;
	padding: 15px;
  display:inline-block;
  cursor: pointer;
}

.navbar ul li:hover {
	background-color: var(--secondary-blue);
	-webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#header-text {
	position: relative;
	top: 35%;
	transform: translateY(-25%);
}

#header-text h1 {
	margin: 0;
	font-size: 60px;	
	font-weight: bold;	
}

#header-text h3 {
	margin-top: 0;
	font-weight: bold;	
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#header-text p {
	font-size: 20px;
	margin: 0 0 10px;
	color: #c4c4c4;
	font-weight: bold;		
	font-family: 'Raleway', sans-serif;
}

#header-text span {
	margin-bottom: 10px;
}

#header-text #header-text-2 {
	width: 50%;
	padding: 0px 20px 20px;
	margin: 0 auto;
	border-radius: 20px;
}

#header-text #email-form {
	margin-top: 10px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.65);
}

#header-text #email-form form {
	margin-bottom: 12px;
	margin-top: 12px;
}

#header-text #email-form #mce-EMAIL,
.middle-box .middle-box-wrapper #email-form #mce-EMAIL {
	color: #FFF;
	float: left;
	width: 70%;
	padding: 0px 20px;
	background: rgba(255, 255, 255, 0.3);	
	border: none;	
	height: 45px;
	vertical-align: top;
	display: inline-block;
}

#header-text #email-form #mce-EMAIL:focus{
    border: none !important;
	background: rgba(255, 255, 255, 0.3) !important;  
}

#header-text #email-form #mc-embedded-subscribe,
.middle-box .middle-box-wrapper #email-form #mc-embedded-subscribe {
	background-color: var(--secondary-blue);
	padding: 0;
	width: 30%;
	color: #FFF;
	border: none;
	height: 45px;
	display: inline-block;
	vertical-align: top;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

#header-text #email-form #mc-embedded-subscribe:hover,
.middle-box .middle-box-wrapper #email-form #mc-embedded-subscribe:hover {
	background-color: var(--tertiary-blue);
}
		

#content {
	max-width: 2560px;
	position: absolute;
	top: 100%;
}

#content .intro-box { 
	padding:100px 0;
	text-align: center;
	background-color: #f6f6f6;
	line-height: 40px;
}

#content .intro-box h1 {
	margin-top: 0;
	font-weight: bold;
}		

#content .intro-box p {
	width: 80%;
	margin: 0 auto;
	color: grey;
	text-align: center;
	font-size: 20px;	
}

.feature-box {
	padding: 100px 0;
}

.feature-box .feature-image {
	padding: 0 50px;
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.feature-box .feature-description {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	line-height: 40px;	
}

.feature-box .feature-description .feature-title {
	margin-top: 0;
	font-size: 1.85em;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	padding: 0px 20px;
}

.feature-box .feature-description .feature-detail {
	width: 80%;
	margin: 0 auto;
	color: grey;
	text-align: center;
	font-size: 20px;
}

.parallex-window {
	background: transparent;
	text-align: center;
	padding: 100px 0;
	color: #FFF;
}

.parallex-window h1{
	font-size: 4rem;
	width: 50%;
	margin: 0 auto;
}

.middle-box {
	background-color: #08689C;
	text-align: center;
	padding: 100px 0;
	color: #FFF;
}

.middle-box .middle-box-wrapper {
	margin: 0 auto;
	width: 45%;
}

.middle-box .middle-box-wrapper h1 {
	margin-top: 0;
	font-size: 3.5rem;
}

.middle-box .middle-box-wrapper #email-form {
	margin-top: 15px;
}

.middle-box .middle-box-wrapper #email-form #mce-EMAIL {
	color: black;
	background: white !important;  
}

.middle-box .middle-box-wrapper #email-form #mce-EMAIL:focus {
    border: none !important;
}

#footer {
	background-color: #2d2d2d;
	padding: 15px;
	color: #FFF;
}

#footer a {
	text-decoration: underline;
	color: #FFF;
	font-weight: 600;
}

#footer a:hover {
	color: var(--tertiary-blue);
	transition: 0.5s;
}


@media screen and (max-width: 950px) {
	br{display:none;}

	#header #header-text h1 {
		font-size: 40px;	
		font-weight: bold;	
		margin-bottom: 5px;
	}

	#header #header-text h3 {
		font-size: 15px;
	}

	#header #header-text p {
		font-size: 15px;
	}

	#header #header-text span {
		margin-bottom:10px;
	}
		

	#content .feature-box {
			padding:50px 0;
	}

	#content .intro-box { 
			padding:80px 0;
			line-height:30px;
	}

	#content .intro-box h1 {
		font-size:25px
	}		

	#content .intro-box p {
		width:50%;
		font-size:15px;	
	}

	#content .feature-box .feature-image {
		width:55%;
	}

	#content .feature-box .feature-description {
		width:40%;
		line-height:30px;	
	}		

	#content .feature-box .feature-description .feature-detail {
		width:80%;
		font-size:15px;
	}

	.middle-box .middle-box-wrapper {
		width: 60%;
	}

	.middle-box {
		background-color: #08689C;
		text-align: center;
		padding: 100px 0;
		color: #FFF;
	}

	.middle-box .middle-box-wrapper {
		margin: 0 auto;
		width: 45%;
	}

	.middle-box .middle-box-wrapper h1 {
		margin-top: 0;
		font-size: 2.3rem;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0;
		background-color: var(--secondary-blue);
	}

	.navbar .navbar-header {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar .navbar-collapse ul.navbar-nav {
		margin: 0;
		width: 100%;
	}

	.navbar .navbar-collapse ul.navbar-nav li {
		width: 100%;
		background-color: var(--primary-blue);
	}

	#header-text {
		top: 40%;
	}

	#header-text #header-text-2 {
		width: 60% !important;
	}

	#content .middle-box .middle-box-wrapper {
		width: 70%;
	}

	.parallex-window {
		padding: 70px 0;
	}

	.parallex-window h1{
		font-size: 4rem;
		width: 80%;
	}

	#footer text.col-md-6.col-sm-6.col-xs-12.text-left,
	#footer text.col-md-6.col-sm-6.col-xs-12.text-right {
		text-align: center !important;
		line-height: 25px;
	}
}


@media screen and (max-width: 602px) {
	#header-text #header-text-2 {
		width: 65% !important;
	}
}

@media screen and (max-width: 565px) {
	#header-text #header-text-2 {
		width: 80% !important;
	}

	#content .intro-box h1 {
		font-size:22px
	}		

	#content .intro-box p {
		width:60%;
		font-size:15px;	
	}

	#content .feature-box img.feature-image {
		width: 100%;
		padding: 0 20%;
	}

	#content .feature-box .feature-description {
		width: 100%;
	}

	#content .feature-box .feature-description .feature-title {
		margin-top: 15px;
	}

	#content .middle-box .middle-box-wrapper {
		width: 85%;
	}
}

@media screen and (max-width: 425px) {

	#content .feature-box .feature-desciption{
		margin-top:0;
	}

	#content .intro-box{
		padding:50px 0;	
	}

	.parallex-window h1{
		font-size: 3rem;
	}

	#content .intro-box p {
		width:80%;
		font-size:15px;	

	}

	#header-text #header-text-2 {
		width: 90% !important;
	}

	#header-text #header-text-2 p {
		margin: 0 0 15px;
	}

	#header-text #header-text-2 #email-form form {
		margin-bottom: 0;
	}

	#header-text #header-text-2 #email-form #mce-EMAIL,
	#header-text #header-text-2 #email-form #mc-embedded-subscribe,
	#content .middle-box .middle-box-wrapper #email-form #mce-EMAIL,
	#content .middle-box .middle-box-wrapper #email-form #mc-embedded-subscribe {
		margin-bottom: 12px;
		width: 100%;
		border-radius: 0;
		border: none;
		text-align: center;
	}

	#header-text #header-text-2 #email-form #mc-embedded-subscribe,
	#content .middle-box .middle-box-wrapper #email-form #mc-embedded-subscribe {
		margin-bottom: 0 !important;
	}
}

/*--- Modal box for successful subscription message ---*/
.modal.fade {
	padding: 0 !important;
}

.modal-dialog {
	margin-top: 10% !important;
}

.modal-content {
	border: 0 !important;
	border-radius: 0 !important;
}

.modal-header {
	background-color: var(--secondary-blue);
}

.modal-title {
	float: left;
	line-height: 1 !important;
	font-size: 1.5em;
	font-weight: 600;
	color: #FFF;
}

.modal-header button.close:hover {
	transition: 0.5s;
}

.modal-header button.close span {
	color: #FFF;
}

.modal-body {
	padding: 10px 15px !important;
}

.modal-body p {
	margin: 0;
	text-align: justify;
	font-size: 1.15em;
}

@media screen and (max-width: 768px) {
	.modal-dialog {
		margin-top: 25% !important;
	}
}

@media screen and (max-width: 425px) {
	.modal-dialog {
		margin-top: 50% !important;
	}
}